html, body {
  overflow-x: hidden; 
}
.thinking {
  display: none;
}
#supportMessage {
  text-align: center;
}
.cleverbotForm {
  margin-top: 20px;
  width: 100%;
}
.query {
  width: 85%;
  display: inline-block;
}
.send {
  width: 140px;
  margin-top: 10px;
}
.speech-input {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.options {
  margin: 0 auto;
  border: solid 1px #C2C2C2;
  border-radius: 8px;
  padding: 15px;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.options h3 {
  text-align: center;
  margin-top: 0;
}
.options select {
  width: 100%;
  margin-bottom: 10px;
}
.navbar-right span{
  cursor: default;
  color: grey;
}
.navbar-right li {
  font-size: 15px;
  margin-right: 25px;
  color: #030045;
}