<!DOCTYPE html>
<html>
<head>
  <title>HCR-328 - A speach to speach AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='public/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='public/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>